<h1>Home#show</h1>

<h1>RoR Auth0 Sample</h1>
<p>Step 1 - Login.</p>
<img src="https://cdn.auth0.com/styleguide/1.0.0/img/badge.svg">

<% if session[:userinfo].present? %>
  <p>
    <a href="./dashboard">dashboard</a>
  </p>
  <p>
    <a href="./logout">logout</a>
  </p>
<% else %>
  <p>
    <%= button_to 'Login', 'auth/auth0', method: :post, class: "btn" %>
  </p>
<% end %>

<% if flash[:notice].present? %>
  <%= flash[:notice] %>
<% end %>

